// Media
$mobile: 375px;
$tablet: 992px;
$desktop: 1440px;

// Primary
$darkCyan: hsl(185, 75%, 39%);
$veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);

//Neutral
$darkGray: hsl(0, 0%, 59%);

//Images
$bgImgTop: "../images/bg-pattern-top.svg";
$bgImgBottom: "../images/bg-pattern-bottom.svg";

// Typography
$fontName: "Kumbh Sans", sans-serif;
